In [2]:
import pandas as pd
data = pd.read_csv('netflix_content.csv')
data.head()

,Title,Available Globally?,Release Date,Hours Viewed,Language Indicator,Content Type
0,The Night Agent: Season 1,Yes,2023-03-23,"81,21,00,000",English,Show
1,Ginny & Georgia: Season 2,Yes,2023-01-05,"66,51,00,000",English,Show
2,The Glory: Season 1 // 더 글로리: 시즌 1,Yes,2022-12-30,"62,28,00,000",Korean,Show
3,Wednesday: Season 1,Yes,2022-11-23,"50,77,00,000",English,Show
4,Queen Charlotte: A Bridgerton Story,Yes,2023-05-04,"50,30,00,000",English,Movie

In [6]:
# drop rows with missing titles or with duplicate titles
data.dropna(subset = ['Title'], inplace = True)
data.drop_duplicates(subset = ['Title'], inplace = True)

# Create simple content ID for TensorFlow embeddings
data['Content_ID'] = data.reset_index().index.astype('int32')

# encode language indicator and content type
data['Language_ID'] = data['Language Indicator'].astype('category').cat.codes
data['ContentType_ID'] = data['Content Type'].astype('category').cat.codes
data[['Content_ID', 'Title', 'Hours Viewed', 'Language_ID', 'ContentType_ID']].head()

,Content_ID,Title,Hours Viewed,Language_ID,ContentType_ID
0,0,The Night Agent: Season 1,812100000,0,1
1,1,Ginny & Georgia: Season 2,665100000,0,1
2,2,The Glory: Season 1 // 더 글로리: 시즌 1,622800000,3,1
3,3,Wednesday: Season 1,507700000,0,1
4,4,Queen Charlotte: A Bridgerton Story,503000000,0,0